body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav .a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

nav.active{
    color: #4a4cf1;
    font-weight: bold;
}

.search-bar {
    display: flex;
    gap: 10px;
}

.search-bar input {
    padding: 8px 12px;
    border: 22px solid #4a4cf1;
    border-radius: 20px;
}

.search-bar button {
    background-color: #4a4cf1;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
gap: 20px;
padding: 30px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.large {
    grid-column: span 2;
}

.medium {
    grid-column: span 1;
}

.small {
    grid-column: span 1;
}

.card .tag {
    background-color: #4a4cf1;
    color: #fff;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 12px;
    margin-bottom: 10px;
}

#card1 {
    background-image: 
    url('OfficeWork.jpg');
    background-repeat: no-repeat;
    grid-column: span 2;
}

#card2 {
    background-image: 
    url(' ');
}

#card3 {
    background-image: 
    url(' ');
}

#card4 {
    background-image: 
    url(' ');
}

#card5 {
    background-image: 
    url(' ');
}

#card6 {
    background-image: 
    url(' ');
}